<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>

  <body class="bg-secondary">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 mt-5 article bg-white rounded px-5 py-5">
          <h1 id="title" class="mb-3">This page does not a lot</h1>
          <div class="email-button"></div>
          <p id="article-content">Article content</p>

          <button id="show-hide-button" type="button" class="btn btn-primary">Show/hide comments</button>

          <hr>

          <div class="comments hidden">
            <h2 class="title">Comments</h2>
            <div class="comment">This is a comment</div>
          </div>

        </div>
      </div>
    </div>



    
  </body>
</html>
