$background-gray: #eee;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $background-gray;

  .main-content {
    background-color: white;
    border-radius: 5px;
    max-width: 1000px;
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 40px;
  }
}
